.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
    text-decoration: none;
}
.lista-menu__titulo {
    color: var(--vinho);
    font-weight: 700;
}

.lista-menu__link {
background: var(--vinho);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-transform: uppercase;
}

.lista-menu__item:hover {
    background: var(--hover);
}

.container__botao {
    display: none;
}

.container__titulo-n {
    display: none;
}

.opções {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo-n {
        font-family: var(--fonte-titulo);
        font-size: 30px;
        font-weight: 400;
        color: var(--vinho);
        display: block;
    }

    .opções {
        display: flex;
        color: var(--strong);
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link {
        text-decoration: none;
        color: var(--strong);
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opções__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções__botao {
        display: none;
    }

}

@media screen and (min-width: 1728px) {

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--vinho);

    }

    .cabeçalho {
        padding: 0 2em;
    }

    .container__texto {
        display: block;
    }

}
